.rdw-root {
}
.rdw-wrapper {
}
.rdw-editor {
    border: 1px solid #F1F1F1;
    padding: 5px;
    border-radius: 2px;
    height: 30em;
}
.rdw-toolbar {
}

.rdw-textarea {
    resize: none;
    width: 100%;
    border: 1px solid #F1F1F1;
    height: 100px;
}

.rdw-link-modal {
    height: auto;
}

.rdw-image-modal-url-input {
    font-size: 12px;
    height: 20px;
}

.public-DraftStyleDefault-block {
    margin: 0px !important;
}

.popup-toolbar-editor-position {
    left: initial !important;
    right: 5px;
}
